html {
  font-size: 24px;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  max-width: 800px;
  min-height: 100%;
  position: relative;
  line-height: 1.4;
  font-size: 0.96rem;
/*    color: #363737;*/
  color: #4b4b4b;
}

code {
  font-size: 0.55rem;
}

.page_top_border {
  border-top: solid #c4c4c4 0.25rem;
}

h1.title {
  margin-left: 1.7rem;
  color: #c4c4c4;
  font-size: 1.5em;
}

div#content {
  margin-left: 1.7rem;
  margin-bottom: 3rem;
}

div#content a {
  display: inline-block;
  margin: 0.2rem 0 0.2rem 0;
}

div#header {
  text-align: right;
  margin-top: 1rem;
/*  margin-right: 5rem;*/
}

.header_link {
  padding-right: 0.8rem;
}

div {
  display: block;
  unicode-bidi: isolate;
}

/*div.top_section {
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  text-indent: -2.5rem;
}*/

.top_section p.subj {
  margin-bottom: 0.5em;
}

.top_section p {
/*  font-size: 140%;
  line-height: 1.25;
  width: 80%;*/
}

a {
  color: inherit;
  text-decoration-color: #c4c4c4;
}

a:visited {
  color: #c4c4c4;
}

.link-stub {
  color: #c4c4c4;
}

.vertical-line-blue a {
  text-decoration-color: #d1e2e3;
}
.vertical-line-green a {
  text-decoration-color: #d0dcca;
}
.vertical-line-red a {
  text-decoration-color: #decece;
}

.top_section .top_summary {
/*  font-size: 110%;*/
}

.bold_text {
  font-weight: bold;
}

.project {
  margin-bottom: 50px;
}

.project_img_50 {
  width: 50%;
  height: auto;
  display: block;
}

.img_full_width {
  width: 100%;
}

.block-name {
  position: absolute;
  top: 45%;
  left: -20%;
  color: #c4c4c4;
}

.block-name.blue {
  top: 40%;
}

.block-name.green {
  top: 30%;
}

.sub-category {
  margin: 0.7rem 0 0.7rem 0;
}

.vertical-line-blue {
  border-left: 3px solid #d1e2e3;
  margin-bottom: 2rem;
  position: relative;
}
.vertical-line-green {
  border-left: 3px solid #d0dcca;
  margin-bottom: 2rem;
  position: relative;
}
.vertical-line-red {
  border-left: 3px solid #decece;
  margin-bottom: 2rem;
  position: relative;
}

.blue {
  color: #d1e2e3;
}

.green {
  color: #d0dcca;
}

.red {
  color: #decece;
}


/* Curly brace */
.curly-braced-block {
  position: relative;
  margin: 20px 0;
}

.curly-braced-block .brace-left {
  top: 0;
  left: 0;
  float: left;
  width: 20px;
  height: 100%;
  position: absolute;
}

.curly-braced-block .brace-left .brace-top,
.curly-braced-block .brace-left .brace-bottom {
  position: absolute;
  width: 10px;
  height: 50%;
  left: 10px;
}

.curly-braced-block .brace-left .brace-top {
  top: 0;
}

.curly-braced-block .brace-left .brace-bottom {
  top: 50%;
}

.curly-braced-block .brace-left .brace-top:before,
.curly-braced-block .brace-left .brace-top:after,
.curly-braced-block .brace-left .brace-bottom:before,
.curly-braced-block .brace-left .brace-bottom:after {
  content: "";
  height: 50%;
  width: 10px;
  display: block;
  position: absolute;
}

.curly-braced-block .brace-left .brace-top:before {
  top: 0;
  left: 0;
  border-left: 3px solid #c4c4c4;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}

.curly-braced-block .brace-left .brace-top:after {
  bottom: 0;
  left: -10px;
  border-right: 3px solid #c4c4c4;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}

.curly-braced-block .brace-left .brace-bottom:before {
  top: 0;
  left: -10px;
  border-right: 3px solid #c4c4c4;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.curly-braced-block .brace-left .brace-bottom:after {
  bottom: 0;
  left: 0;
  border-left: 3px solid #c4c4c4;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}

.curly-braced-block .content {
  text-align: left;
  width: 300px;
  margin-left: 25px;
}
/* End Curly brace */
